In [32]:
import pandas as pd

In [135]:
df = pd.read_csv('/Users/nfanlo/Desktop/Python/DataAnalysis/Datasets TFG/TFG/Task1-train-dev/dev/uy.csv')

In [136]:
df.drop(columns=df.columns[0], inplace=True)

In [137]:
df.head()

               @NinetalesGD cuando tenga puta gracia    N
0                      Pero m치s odio ver series sola    N
1  @MorochitaTonta @FabiolaCintron porque hacerte...  NEU
2    Se me estan pasando muy rapido estas vacaciones  NEU
3  @NinetalesGD pues bueno recuerda que yo estare...    P
4  @Guille2SantosTM @urbandoficial Al contrario g...    P

In [138]:
df.columns = ['text', 'sentiment']

In [139]:
df.head()

                                                text sentiment
0                      Pero m치s odio ver series sola         N
1  @MorochitaTonta @FabiolaCintron porque hacerte...       NEU
2    Se me estan pasando muy rapido estas vacaciones       NEU
3  @NinetalesGD pues bueno recuerda que yo estare...         P
4  @Guille2SantosTM @urbandoficial Al contrario g...         P

In [140]:
df.to_csv('dev_uy.csv', index=False)

In [1]:
#Concatenar todos los csv en uno

import os
import glob
import pandas as pd
#set working directory
os.chdir("/Users/nfanlo/Desktop/Python/DataAnalysis/Datasets TFG/TFG/Task1-train-dev/train_dev")
#find all csv files in the folder
#use glob pattern matching -> extension = 'csv'
#save result in list -> all_filenames
extension = 'csv'
all_filenames = [i for i in glob.glob('*.{}'.format(extension))]
#print(all_filenames)

#combine all files in the list
combined_csv = pd.concat([pd.read_csv(f) for f in all_filenames ])
#export to csv
combined_csv.to_csv( "train_dev_all.csv", index=False, encoding='utf-8-sig')